<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madpixels.tgadmintools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity  android:theme="@style/ToolbarTheme"
            android:name="com.madpixels.tgadmintools.activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.madpixels.tgadmintools.activity.ActivityGroupsList"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name="com.madpixels.tgadmintools.activity.ActivityBanList"
            android:theme="@style/ToolbarTheme" />

        <activity android:name="com.madpixels.tgadmintools.activity.ActivityChatUsers"
            android:theme="@style/ToolbarTheme" />
        <activity android:name="com.madpixels.tgadmintools.activity.ActivityGroupInfo"
            android:theme="@style/ToolbarTheme" />
        <activity android:name="com.madpixels.tgadmintools.activity.ActivitySettings"
            android:theme="@style/ToolbarTheme" />
        <activity android:name="com.madpixels.tgadmintools.activity.ActivityLogView"
            android:theme="@style/ToolbarTheme" />
        <activity android:name=".activity.ActivityBannedWordsList" />
        <activity android:name=".activity.ActivityChatCommands" android:theme="@style/ToolbarTheme" />


        <receiver android:name="com.madpixels.tgadmintools.services.ReceiverStartupSystem">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.ServiceUnbanTask" />
        <service android:name=".services.ServiceAutoKicker"/>
        <service android:name=".services.ServiceChatTask" />
        <service android:name=".services.ServiceOnStartCheckAuth"/>
        <service android:name=".services.ServiceBackgroundStarter"/>


        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>
